@font-face {
    font-family: lxgw;
    src: url("./alice/LXGWWenKaiGB-Regular.ttf");
}

@font-face {
    font-family: firacode;
    src: url("./alice/FiraCode-Regular.ttf");
}

p {
    font-family: firacode, lxgw, sans-serif;
}

pre {
    font-family: firacode !important;
    font-size: 14px !important;
    word-spacing: normal !important;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 100px;
    color: var(--alice-font-color);
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 1200px;
    }
}







html {
    --alice-bg-color: rgb(249, 245, 232);
    --alice-title-color: #0079D2;
    --alice-font-color: rgb(102, 55, 24);
    --alice-important-color: rgb(162, 42, 42);
    background: var(--alice-bg-color);
    font-size: 18px;
    font-family: "Helvetica";
}

h1 {
    margin: 0 auto;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
    padding: 4px 2em;
    line-height: 1.35;
    font-size: 2.25em;
    text-align: center;
    background-color: rgb(0, 132, 255);
    width: max-content !important;
    color: #fff;
}

h2 {
    border-left: 3px solid rgba(15, 76, 129, 1);
    padding-left: 1em;
}

h2,
h3 {
    color: var(--alice-title-color);
}

strong {
    color: #a22a2a;
    font-weight: bold;
}

code {
    background: rgba(235, 235, 235, 0.35);
    color: #48b456;
    padding: 0 5px;
    margin: 0 2px;
    font-family: firacode;
    border-radius: 5px;
}

.CodeMirror {
    box-sizing: border-box;
    margin: 1.6em 0;
    padding: 0.4em 0 0.4em 1.2em;
    border-left: 4px solid #16b0ff;
    min-height: 20px;

}

.CodeMirror.cm-s-inner {
    background-color: #fff;
}

img {
    border-radius: 1em;
}

li {
    color: #059CEF;
}

li span {
    color: #535277;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1.1em;

}

h5 {
    font-size: 1.05em;
    color: #a22a2a;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    font-family: lxgw;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h2,
h3 {
    line-height: 1.5em;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}

hr {
    margin: 38px 0;
    border: none;
    border-bottom: 1px dashed rgba(205, 205, 205, 0.35);
    color: rgba(205, 205, 205, 0.35);
    height: 1px;
    line-height: 1px;
    overflow-y: hidden;
}

.md-toc {
    border-radius: 5px;
    border: 1px solid;
    margin: 27px 0 47px 0;
    padding: 10px 0;
}

a {
    margin: 0 2px;
    color: #d14508;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    box-sizing: border-box;
    margin: 1.6em 0;
    padding: 0 0 0 1.2em;
    border-left: 4px solid #16b0ff;
    color: #888888;
    min-height: 20px;
}


table {
    width: 100%;
    font-size: 1.125rem;
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td,
table>tfoot>tr>th,
table>tfoot>tr>td {
    padding: 12px;
    line-height: 1.2;
    vertical-align: top;
    border-top: 1px solid var(--alice-font-color);
}

table tbody {
    border-bottom: 2px solid var(--alice-font-color);
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--alice-font-color);
}

table>caption+thead>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>th,
table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody+tbody {
    border-top: 2px solid var(--alice-font-color);
}